/********* General CSS *********/
/*******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
    color: #797979;
    overflow-x: hidden;
    background: rgb(8, 9, 27);
    font-family: 'Montserrat', sans-serif;
}


/*********** NAV BAR START **********/
/**********************************/
.navbar {
  border-radius: 20px;
  background-color: #0f172a;
  box-shadow:0 0 5px rgba(82, 152, 243, 0.6) ;
}
.navbar-brand {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f1f5f9;
  font-size: 40px;
  transition: 0.3s;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .logo-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding-right:10px ;
}
.nav-link {
  color: white;
  font-weight: bold;
  position: relative;
}
/* Blue underline effect */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color:#3b82f6;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease-in-out;
}

/* Hover / Active */
.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}
/* Remove default toggle border */
.navbar-toggler:focus {
  box-shadow: none;
}
/* Navbar Animation  */
 /* initial state  */
.header {
  transform: translateY(-100%);
  opacity: 0;
  transition: all 2s ease;
}

/* When page loads */
.header.show {
  transform: translateY(0);
  opacity: 1;
}
/***********NAV BAR END**********/
/**********************************/


/*********HOME PAGE PART START******/
/**********************************/
.hero {
  min-height: 100vh;
  background: #0f172a;
  color: #e2e8f0;
}

.hero-title {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(40px, 10vw, 80px);
  font-weight: bold;
  line-height: 1.1;
}

.hero-img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 50%; /*circle image */
  animation: floatImage 4s ease-in-out infinite;
  filter: drop-shadow(0 0 25px rgba(59, 130, 246, 0.5));
}

/* Typing text */
#typing {
  color: #3b82f6;
  padding-right: 5px;
  font-weight: bold;
  font-size: clamp(20px, 4vw, 27px);
}

/* Home content Animation  */
/* Initial state */
.hero-content {
  opacity: 0;
  transform: translateY(-80px);
  transition: all 2s ease;
}

/* Active state */
.hero-content.show {
  opacity: 1;
  transform: translateY(0);
}

/* hero image animation */
.hero-image-wrapper {
  opacity: 0;
  transform: translateY(-80px);
  transition: all 2s ease;
}

/* Active state */
.hero-image-wrapper.show {
  opacity: 1;
  transform: translateY(0);
}

/* home image repeating animation*/
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}
/* home social media icon */
.hero-social {
  margin: 10px 0;
}

.hero-social a {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3b82f6;
  border-radius: 50%;
  color: #3b82f6;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  transition: all 0.3s ease;
}

/* Hover */
.hero-social a:hover {
  background: #3b82f6;
  color: white;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
  transform: translateY(-5px);
}

/* Home button */
.contact-btn {
  margin-top: 10px;
  padding: 12px 32px;
  border-radius: 50px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border: none;
  transition: all 0.3s ease;
  display: inline-block;
}

/* button Hover */
.contact-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
  color: #fff;
}

/* Home Media query for mobile */
@media (max-width: 768px) {

  .hero {
    text-align: center;
    padding-top: 50px;
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-text {
    font-size: 16px;
    padding: 0 10px;
  }

  .hero-img {
    display: none;
  }

}
/********* HOME PAGE PART END******/
/**********************************/


/********* ABOUT PAGE PART START****/
/**********************************/
/* About Section */
.about {
  min-height: 100vh;
  background: #0f172a;
  color: #e2e8f0;
}

/* Subtitle */
.section-subtitle {
  color: #3b82f6;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/* Title */
.section-title {
  font-size: clamp(32px, 5vw, 50px);
  font-weight: 700;
  margin-bottom: 20px;
}

.section-title span {
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Text */
.about-text {
  color: #94a3b8;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* Image */
.about-img {
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  filter: drop-shadow(0 0 25px rgba(59,130,246,0.3));
}

/* Button */
.about-btn {
  margin-top: 15px;
  padding: 12px 30px;
  border-radius: 50px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-block;
}

/* Hover */
.about-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(59,130,246,0.5);
  color: #fff;
}
/********* ABOUT PAGE PART START****/
/**********************************/

/********* SKILLS PAGE PART START****/
/**********************************/
.skills {
  background: #0f172a;
  color: #fff;
}

/* Skill Box */
.skill-box {
  background: #1e293b;
  padding: 25px;
  border-radius: 20px;
  transition: 0.4s ease;
  border: 1px solid transparent;
}

/* Hover */
.skill-box:hover {
  transform: translateY(-10px);
  border-color: #3b82f6;
  box-shadow: 0 0 25px rgba(59,130,246,0.3);
}

/* Skill info */
.skill-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Icons */
.skill-info i {
  font-size: 32px;
  color: #3b82f6;
}

/* Text */
.skill-info span {
  font-size: 20px;
  font-weight: 600;
}

/* Progress */
.progress {
  height: 10px;
  background: #0f172a;
  border-radius: 50px;
  overflow: hidden;
}

/* Progress Bar */
.progress-bar {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(90deg, #3b82f6, #8b5cf6);
}

/* Widths */
.html-bar {
  width: 90%;
}
.css-bar {
  width: 85%;
}
.bootstrap-bar {
  width: 80%;
}
.js-bar {
  width: 70%;
}
.react-bar {
  width: 45%;
}
.nodejs-bar{
  width: 40%;
}
/********* SKILLS PAGE PART END****/
/**********************************/


/********* FOOTER PART START********/
/**********************************/
.footer {
  background-color: #0f172a;
  color: #e2e8f0;
}

/* Brand */
.footer-brand {
  font-weight: bold;
  transition: 0.3s;
}

/* Text */
.footer-text {
  color: #94a3b8;
  font-size: 14px;
}

/* Titles */
.footer-title {
  margin-bottom: 15px;
  font-weight: 600;
}

/* Links */
.footer-link {
  color: #94a3b8;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-link:hover {
  color: #3b82f6;
  transform: translateX(3px);
}

/* Bottom text */
.footer-copy {
  font-size: 14px;
  color: #64748b;
}
.footer-icon {
  color: #94a3b8;
  font-size: 20px;
  transition: 0.3s;
}

/* Hover effect */
.footer-icon:hover {
  color: #3b82f6;
  transform: translateY(-3px);
}
/********* FOOTER PART END ********/
/**********************************/